.offline-game-wrapper{
    padding-top: 50px;
    display: block !important;
}

.error-message {
    margin-top: 10px;
}

.lottie-animation{
    width: 30%;
    position: fixed;
    right: 2%;
    bottom: 5%;
}