.top-bar {
    width: 100%;
    padding: 4px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e4d7979;
    margin-bottom: 50px;
    position: absolute;
    top: 0;
  }
  
  .logo{
    position: relative;
    height: 50px;
  }

  .settings-container{
    display: flex;
    align-items: center;
  }
  .mode-button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.3s;
    padding: 8px 12px;
    border-radius: 10px;
  }
  .mode-button:hover{
    transition: font-size 0.3s;
    background-color: #281c4ba2;
  }
  
  .settings-icon{
    margin-left: 10px;
  }

  .mode-button:hover {
    color: #f0c040;
  }