.online-game-wrapper{
    padding-top: 50px;
    display: flex;
    width: 100%;
}

.members-container{
    width: 25%;
}
.game-box-container{
    width: 50%;
}
.chat-box-container{
    width: 25%;
}

.error-message {
    margin-top: 10px;
}

.lottie-animation{
    width: 30%;
    position: fixed;
    right: 2%;
    bottom: 5%;
}