@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam&family=Tillana&family=Dancing+Script&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #109137, #8551ca);
  background-repeat: repeat;
  height: 110vh;
}

/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.top-bar {
  width: 100%;
  padding: 4px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e4d7979;
}

.font-selector label {
  margin-right: 10px;
  font-size: 1rem;
  color: #c7bcbc;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.font-selector select {
  margin-left: 5px;
  background-color: #5f3481;
  padding: 2px;
  font-size: small;
  color: #dad0d0;
}

.color-pickers input{
  background-color: transparent;
  border: none;
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

.logo{
  position: relative;
  width: 20%;
  margin-top: 20px;
  margin-bottom: 40px;
}
/* Table Styles */
.bingo-table {
  border-collapse: collapse;
  margin: 0 auto;
  
}

.bingo-table-active {
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  animation: glowing 1.5s infinite alternate;
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.4),
      0 0 20px rgba(255, 255, 255, 0.3), 0 0 25px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 40px rgba(113, 39, 173, 0.39), 0 0 50px rgba(106, 15, 158, 0.548);
  }
}

.bingo-cell {
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 0.3s, font-family 0.3s;
}

.bingo-cell.selected {
  background-color: #8551ca; /* Default selected color */
}

.bingo-cell.completed {
  background-color: #1a7012; /* Default completed color */
}

.bingo-cell:hover {
  background-color: #f0f0f0;
}

.cell-value {
  font-size: 1.2rem;
}

.color-pickers {
  display: flex;
  align-items: center;
}

.font-selector {
  display: flex;
  align-items: center;
}

/* Input Styles */
.bingo-input {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  font-size: 1.2rem;
  outline: none;
  background-color: transparent;
  cursor: text;
}

.bingo-input::-webkit-inner-spin-button,
.bingo-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Cell Value Styles */
.cell-value {
  font-size: 1.2rem;
  color: #000;
}

/* Button Container Styles */
.button-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

/* Button Styles */
.start-button-active,
.start-button-inactive,
.reset-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  z-index: 1000;
}

.start-button-active {
  background-color: rgb(13, 216, 13);
  color: #000;
}

.start-button-active:hover {
  background-color: #31b631;
}

.start-button-inactive {
  background-color: rgb(170, 179, 170);
  color: #000;
}

.reset-button {
  background-color: #ff6666;
  color: white;
}

.reset-button:hover {
  background-color: #ff4d4d;
}

.start-button:focus,
.reset-button:focus {
  outline: none;
}

.start-button:active,
.reset-button:active {
  transform: scale(0.98);
}


.size-input-container {
  margin-bottom: 20px;
}

.size-input-container label {
  margin-right: 10px;
  font-size: 1.2rem;
  color: #fff;
}

.size-input-container input {
  padding: 5px;
  font-size: 1.2rem;
  width: 60px;
}

.error-message {
  margin-top: 10px;
}

.score-container {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #fff;
}

.bingo-cell.completed {
  background-color: rgb(26, 112, 18);
}

.footer{
  position: absolute;
  bottom: 2%;
}


.winner-announcement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.bingo-text {
  font-size: 3rem;
  font-family: fantasy;
  color: yellow;
  animation: zoomIn 5s forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.1);
    opacity: 0.5;
  }
  100% {
    transform: scale(5);
    opacity: 1;
  }
}