@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam&family=Tillana&family=Dancing+Script&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #109137, #8551ca);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  padding-bottom: 100px;
}

/* TOP BAR */
.top-bar {
  width: 100%;
  padding: 4px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e4d7979;
  margin-bottom: 50px;
  position: absolute;
  top: 0;
}

.logo{
  position: relative;
  height: 60px;
}


.custom-tools{
  display: flex;
}

.font-selector select {
  margin-left: 5px;
  background-color: #5f3481;
  padding: 2px;
  font-size: small;
  color: #dad0d0;
}

.color-pickers input{
  background-color: transparent;
  border: none;
  height: 35px;
  width: 35px;
  margin-left: 5px;
}

/* Counter styles */

/* Counter styles */
.size-input-container {
  margin-bottom: 20px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.counter span {
  margin: 0 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.counter-button {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(135deg, #b2dd18e0, #ffe600); 
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 5px 15px rgba(0, 5px, 10px, 0.2); 
}

.counter-button:disabled {
  background: linear-gradient(135deg, #cccccc, #999999); 
  cursor: not-allowed;
}

.counter-button:hover:not(:disabled) {
  transform: scale(1.1); 
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); 
}

.counter-button:active {
  transform: scale(0.9); 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}


/* Table Styles */
.bingo-table {
  border-collapse: collapse;
  margin: 0 auto;
}

.bingo-table-active {
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  animation: glowing 1.5s infinite alternate;
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.4),
      0 0 20px rgba(255, 255, 255, 0.3), 0 0 25px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 40px rgba(113, 39, 173, 0.39), 0 0 50px rgba(106, 15, 158, 0.548);
  }
}

.bingo-cell {
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 0.3s, font-family 0.3s;
}

.bingo-cell.selected {
  background-color: #8551ca;
}

.bingo-cell.completed {
  background-color: #1a7012; 
}

.bingo-cell:hover {
  background-color: #f0f0f0;
}

.cell-value {
  font-size: 1.2rem;
}

.color-pickers {
  display: flex;
  align-items: center;
}

.font-selector {
  display: flex;
  align-items: center;
}

/* Input Styles */
.bingo-input {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  font-size: 1.2rem;
  outline: none;
  background-color: transparent;
  cursor: text;
}

.bingo-input::-webkit-inner-spin-button,
.bingo-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Cell Value Styles */
.cell-value {
  font-size: 1.2rem;
  color: #38084e;
}

/* Button Container Styles */
.button-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

/* Control Button Styles */
.start-button-active,
.start-button-inactive,
.reset-button,
.random-button,
.hide-button {
  padding: 12px 30px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 20px;
  z-index: 1000;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4); 
  color: #ffffff; 
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  justify-items: center;
}

.start-button-active:hover,
.start-button-inactive:hover,
.reset-button:hover,
.random-button:hover,
.hide-button:hover {
  transform: scale(1.05); 
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); 
}

.start-button-active:active,
.start-button-inactive:active,
.reset-button:active,
.random-button:active,
.hide-button:active {
  transform: scale(0.95); 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

/* Specific Button Colors */
.start-button-active {
  background: linear-gradient(135deg, #57c54c, #0a8027);
}

.start-button-inactive {
  background: linear-gradient(135deg, #a5a3a0, #6d6a69);
}

.reset-button {
  background: linear-gradient(135deg, #f5300d, #a1090b);
}

.random-button {
  background: linear-gradient(135deg, #a12af0, #6501b8);
}

.hide-button {
  background: linear-gradient(135deg, #a12af0, #6501b8);
}


/* Error and score styles */
.error-message {
  margin-top: 10px;
}

.score-container {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #fff;
}


/* Footer styles */
.footer{
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  background: linear-gradient(135deg, #26a84d, #9a78c7);  
  width: 100%;
  color: #e0d7d7;
  font-size: 14px;
}
