.score-container {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #fff;
    justify-content: center;
    display: flex;
  }
  
.bingo-animation {
    font-size: 2.5rem;
    color: #faf600;
    animation: bingoooo-animation 1.5s infinite;
}
  
@keyframes bingoooo-animation {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0.8;
    }
}
  